# dependencies
node_modules/

# build output
dist/
build/
*.tsbuildinfo

# env files
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# vercel
.vercel
